#root {
  position: relative;
  overflow: hidden;
  display: flex;
  /* flex-direction: column; */

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/saint-antonien-2000w.webp");
  height: 100vh;
  width: 100vw;
}
* {
  font-family: "Abel", sans-serif;
  font-family: "Lato", sans-serif;
}
.card-title {
  transform: translateY(70px);
  color: white;
  font-size: 1rem;
}
.full-screen .card-title {
  transform: translateY(0px);
  transition: transform 0.5s;
}
.card-subTitle {
  text-transform: uppercase;
  padding: 0.5rem;
}
.bottom-wrapper {
  width: 100%;
  position: relative;
}
.bar-wrapper {
  position: relative;
  z-index: 100;
}
.slider-wrapper {
  height: fit-content;
  position: absolute;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 10%;
  width: 100vw;
}
.bar {
  min-width: 80% !important;
  height: 5px !important;
}

.buttons {
  bottom: 15%;
  left: 45%;
  z-index: 100;
}
.slider-btn {
  padding: 2rem;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
}
.slider-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  cursor: pointer;
}
.slider-container {
  height: 30%;
  width: 40%;
  border: 2px solid white;
  overflow: hidden;
}
.card-slider {
  left: 30%;
  position: relative;
  z-index: 100;
  max-width: 500px;
  display: flex;
}

.image-card {
  overflow: hidden;
  box-shadow: rgb(0, 0, 0) 15px 15px 50px;
  border-radius: 15px;
  margin: 0 1rem 0 1rem;
  min-width: 150px;
  position: relative;
  max-width: 150px;
  object-fit: contain;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.image-card.full-screen {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
}
.image-card.full-screen .small-title {
  display: none;
}
.absolute {
  position: absolute;
}
.offset {
  transform: translateX(-282px);
}
div.image-card.full-screen {
  justify-content: flex-start;
  margin: 0;
  border-radius: 0;
}
/* p {
  height: 0px;
  overflow: hidden;
  color: white;
  width: 30%;
} */
/* div.image-card.full-screen p {
  font-size: 1rem;
  transition: height 0.25s ease-in;
  transition-delay: 0.15s;
  height: 50px;
  min-height: fit-content;
  position: relative;
  display: block;
  width: 100%;
} */
.card-text {
  font-size: 1rem;
  color: white;
  transform: translateY(70px);
}
.full-screen .card-text {
  transform: translateY(0);
  transition: transform 0.5s;
  transition-delay: 0.3s;
  height: fit-content !important;
}
div.image-card.full-screen {
  display: flex;
  flex-direction: column;
}
.info-block {
  overflow: hidden;
  height: 0;
  max-height: 0;
}
div.image-card.full-screen .info-block {
  max-height: 500px;
  height: fit-content;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  text-align: center;
  width: 100vw;
  position: relative;
  top: 5%;
  padding: 1rem 1rem 1rem 4rem;
}
.title-div {
  overflow: hidden;
}
.subTitle-div {
  overflow: hidden;
}
.text-div {
  overflow: hidden;
}
div.image-card.full-screen .info-block h1 {
  transform: translateY(0px);
  transition: transform 0.5s;
  transition-delay: 0.15s;
  font-size: 30px;
  height: fit-content;
  max-height: 100px;
}
.info-block h1 {
  transform: translateY(70px);
  overflow: hidden;
  height: 0;
  max-height: 0;
  font-size: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  color: white;
}
.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  color: white;
  display: flex;
  width: 100vw;
  background-color: transparent;
}
.NavBar ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.small-title {
  font-size: 1rem;
  max-width: 100%;
  position: absolute;
  bottom: 5%;
  color: white;
}
@media screen and (min-width: 900px) {
  .bottom-wrapper {
    justify-content: space-between;
    max-width: 50vw !important;
  }
  .bar-wrapper {
    width: 30vw;
    left: 60%;
    bottom: 17%;
  }
  .slider-wrapper {
    height: fit-content;
    position: absolute;
    justify-self: flex-end;
    bottom: 10%;
  }
  .card-slider {
    position: relative;
    z-index: 100;
    height: 350px;
    max-width: 500px;
    display: flex;
  }
  .card-title {
    font-size: 8px;
    height: auto;
    width: 100vw;
  }
  .card-subTitle {
    width: 100%;
  }
  .image-card {
    position: relative;
    box-shadow: rgb(0, 0, 0) 15px 15px 50px;
    border-radius: 15px;
    margin: 0 1rem 0 1rem;
    min-width: 250px;
    /* max-width: 300px; */
    width: 300px;
    object-fit: contain;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
